{% extends 'base.html' %}

{% block content %}
<!--  {% include 'woodmarket/includes/nav.html' %}-->

  <h1>{{ title }}</h1>

  <ul>
    {% for product in products %}
      {% if product.is_published %}
        <li>
          <h2>{{ product.title }}</h2>
          <p>
            {% autoescape off %}
              {{ product.description|linebreaks|truncatewords:50 }}
            {% endautoescape %}
          </p>
          <p><a href="{{ product.get_absolute_url }}">Читать подробнее</a></p>
          {% if not forloop.last %}
            <hr>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

<!--  {% include 'woodmarket/includes/nav.html' %}-->
{% endblock %}


